AnchorPane {
    -fx-background-image: url("background.png");
    -fx-background-size: cover;
}

#opaqueLayer {
    -fx-background-color: black;
    -fx-opacity: 0.5px;
}

BorderPane {
    -fx-background-color: black;
}

Label {
    -fx-text-fill: white;
    -fx-font-family: "Gill Sans Ultra Bold Condensed";
}

#title {
    -fx-font-size: 24px;
}

#content {
    -fx-font-size: 16px;
    -fx-padding: 10px;
}

Button {
    -fx-cursor: hand;
}